{% extends 'template.html' %}

{% load i18n %}

{% block titulo %}{% blocktrans %}Detalhes do video{% endblocktrans %}{% endblock titulo %}

{% block conteudo %}
    
    <style>
    	.comments {
    		background: #FFF;
    		color: #222;
    		text-align: left !important;
    	}
    </style>
    <br><br>
    <section class="container content-section text-center" style="padding-top: 60px;height: 100%;">
        <h3>{{ movie.descricao }}</h3>
        <div class="row">
            <div class="col-lg-12">
            	<iframe width="560" height="315" src="{{ movie.url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-3"></div>
            <div class="col-lg-6">
            	<div class="" >            		
            		<table class="table comments">
            			<tbody id="comments">
	            			<tr>
	            				<th>{% blocktrans %}Comentários{% endblocktrans %}</th>
	            			</tr>
						    {% for item in cmovie %}
		                    <tr >
		                    	<td>{{ item.comentarios }} - <small>{{ item.dataCadastro }}</small></td>
		                    </tr> 
			                {% endfor %}
		                </tbody>
		                <tfooter>
		                    <tr>
			                	<td style="text-align: center !important;">
				                	<input id="textComentario" name="textComentario" type="text" placeholder="{% blocktrans %}Deixe seu comentario...{% endblocktrans %}" style="height: 33px; width: 80%;"/>
				                	<button id="cmdSend" class="btn btn-default"><span class="glyphicon glyphicon-send"></span></button>
				                </td>
		                	</tr>
		                </tfooter>
					</table>
            	</div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </section>

    <script>
	    $(document).ready(function(){

	    	$("#cmdSend").click(function(){

	    		var text = $("#textComentario").val();

		    	$.ajax({
				    url: '/comentar/{{ movie.id }}/',
				    type: 'post',
				    data: {
				    	text: text,
				    	csrfmiddlewaretoken: 'DJtr8mN1c3nKDqkT7w7v5IEwGJ2F6Enj'
				    },
				    success: function(data) {

				    	var r = data.split(";");

				    	var html = $("#comments").html();

				        $("#comments").html(html+"<tr><td>"+r[0]+" - <small>"+r[1]+"</small></td></tr>");

				        $("#textComentario").val("");
				    },
				    failure: function(data) { 
				        alert('Por favor, tente novamente!');
				    }
				});
	    	});
	    });
    </script>

{%endblock conteudo %}