{% extends 'template.html' %}

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">TubeLike</h1>
                        <p class="intro-text">Os melhores videos da internet em um só lugar.</p>
                        <div class="page-scroll">
                            <a href="#videos" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="videos" class="container content-section text-center" style="padding-top: 60px;height: 100%;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Top - TubeLike</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <iframe height="200" src="//www.youtube.com/embed/3G_YP4YjJMQ" frameborder="0" allowfullscreen></iframe>
                <iframe height="200" src="//www.youtube.com/embed/3G_YP4YjJMQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-4">
                <iframe height="200" src="//www.youtube.com/embed/nAOTgLY0Wp8" frameborder="0" allowfullscreen></iframe>
                <iframe height="200" src="//www.youtube.com/embed/nAOTgLY0Wp8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-4">
                <iframe height="200" src="//www.youtube.com/embed/GzCZOrinB1k" frameborder="0" allowfullscreen></iframe>
                <iframe height="200" src="//www.youtube.com/embed/GzCZOrinB1k" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

{%endblock conteudo %}