{% extends 'template.html' %}

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">TubeLike</h1>
                        <p class="intro-text">{% blocktrans %}Os melhores vídeos da internet em um só lugar.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{%endblock conteudo %}